<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Title" value="抽奖" />
    <add key="Btn1" value="开始按钮" />
    <add key="Btn2" value="1314红包" />
    <add key="Btn3" value="1314红包" />
    <add key="Btn4" value="1314红包" />
    <add key="Btn5" value="1314红包" />
    <add key="Btn6" value="1314红包" />
    <add key="Btn7" value="1314红包" />
    <add key="Btn8" value="1314红包" />
    <add key="Btn9" value="1314红包" />
    <add key="Btn10" value="1314红包" />
    <add key="Btn11" value="1314红包" />
    <add key="Btn12" value="1314红包" />
    <add key="Btn13" value="1314红包" />
    <add key="Btn14" value="1314红包" />
    <add key="Btn15" value="1314红包" />
    <add key="Btn16" value="1314红包" />
    <add key="Btn17" value="1314红包" />
    <add key="Btn18" value="1314红包" />
    <add key="Btn19" value="1314红包" />
    <add key="Btn20" value="1314红包" />
    <add key="Btn21" value="1314红包" />
    <add key="Btn22" value="1314红包" />
    <add key="Btn23" value="1314红包" />
    <add key="Btn24" value="1314红包" />
    <add key="Btn25" value="1314红包" />
    <add key="Btn26" value="1314红包" />
    <add key="Btn27" value="1314红包" />
    <add key="Btn28" value="1314红包" />
    <add key="Btn29" value="1314红包" />
    <add key="Btn30" value="1314红包" />
    <add key="Btn31" value="1314红包" />
    <add key="Btn32" value="1314红包" />
    <add key="Btn33" value="1314红包" />
  </appSettings>
</configuration>
